
.dashboard-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.dashboard-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.form-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.search-container input {
  width: 20%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea, select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%; 
}

input[type="number"] {
  -moz-appearance: textfield; 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus, textarea:focus, select:focus {
  border-color: #27839f;
  outline: none;
  box-shadow: 0 0 5px rgba(39, 131, 159, 0.5);
}

button {
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #27839f;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1d5e76;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(39, 131, 159, 0.5);
}

.table-container {
  max-height: 518px; 
  overflow-y: auto; 
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container h2 {
  margin-bottom: 10px;
}

.show-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.show-table th, .show-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.show-table th {
  background-color: #f4f4f4;
  color: #333;
  text-align: left;
}

.show-table tr:hover {
  background-color: #f9f9f9;
}


.show-description {
  max-width: 200px; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.edit-button, .delete-button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px; 
}

.edit-button {
  background-color: #27839f;
  color: white;
}

.edit-button:hover {
  background-color: #1d5e76;
}

.delete-button {
  background-color: #ff4c4c;
  color: white;
}

.delete-button:hover {
  background-color: #d13d3d;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Form neemt 1/3 van de ruimte, Table 2/3 */
  gap: 20px;
  align-items: start; /* Zorg dat items bovenaan uitgelijnd zijn */
}


/* Reservations Table */
.reservation-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  max-height: 300px; /* Pas de maximale hoogte aan zoals gewenst */
  overflow-y: auto; /* Voeg een verticale scrollbar toe als de inhoud groter is dan de hoogte */
}

.reservation-table {
  width: 100%;
  border-collapse: collapse;
}

.reservation-table th, .reservation-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.reservation-table th {
  background-color: #f4f4f4;
  color: #333;
  text-align: left;
}

.reservation-table tr:hover {
  background-color: #f9f9f9;
}

/* Loading tekst */
.loading {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 50px;
}
