
StarterKit/.vs/StarterKit/FileContentIndex/2f64e210-2400-4d1f-82e0-1fc68cf4fe93.vsidx
StarterKit/.vs/StarterKit/FileContentIndex/cbee8821-8424-4a9d-9cd6-f5f639c28222.vsidx
StarterKit/.vs/StarterKit/FileContentIndex/79eec541-fd79-45f9-898d-2d0d29a725f8.vsidx
StarterKit/.vs/StarterKit/FileContentIndex/47fa2ad3-25c9-4088-a1da-1368982dfb94.vsidx
StarterKit/.vs/StarterKit/FileContentIndex/6bc692a9-cccc-4be2-a0ed-7b780237e581.vsidx
StarterKit/.vs/StarterKit/FileContentIndex/6e1b9e02-8b3d-4dcf-adcc-123b84f9ba76.vsidx
StarterKit/.vs/StarterKit/FileContentIndex/f327bd6c-2032-4114-867c-bcceb5004e9f.vsidx
StarterKit/.vs/ProjectEvaluation/starterkit.metadata.v7.bin
StarterKit/.vs/ProjectEvaluation/starterkit.projects.v7.bin
StarterKit/.vs/StarterKit/FileContentIndex/4b2309fa-bf1a-4bbc-9d40-68051dce857e.vsidx
StarterKit/.vs/StarterKit/FileContentIndex/9214c8bc-df4a-4253-9bc0-c3b2427fd163.vsidx
StarterKit/.vs/StarterKit/FileContentIndex/9e6850c4-b3a0-4ab6-b2c3-1ac50a057f00.vsidx
StarterKit/.vs/StarterKit/FileContentIndex/a6074880-79db-4ab4-8d3e-fe946ba9d816.vsidx
StarterKit/.vs/ProjectEvaluation/starterkit.metadata.v7.bin
StarterKit/.vs/ProjectEvaluation/starterkit.projects.v7.bin
StarterKit/.vs/StarterKit/DesignTimeBuild/.dtbcache.v2
StarterKit/.vs/StarterKit/v17/.suo
StarterKit/.vs/StarterKit/v17/DocumentLayout.json
StarterKit/.vs/ProjectEvaluation/starterkit.metadata.v7.bin
*.vsidx
/.vs/Inf2/v17
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
StarterKit/.vs/slnx.sqlite
StarterKit/.vs/StarterKit/v17/.wsuo
StarterKit/.vs/StarterKit/v17/DocumentLayout.json
StarterKit/.vs/StarterKit/DesignTimeBuild/.dtbcache.v2
